
/.idea/
/PNTAutomationGroupTwo.iml
/PNT-Automation-Group-Two.iml
/Amazon/Amazon.iml
/BankOfAmerica/BankOfAmerica.iml
/Generic/Generic.iml
/Wikipedia/Wikipedia.iml
/WellsFargo/WellsFargo.iml
/USCIS/USCIS.iml
/Twitter/Twitter.iml
/TargetRetail/TargetRetail.iml
/BandH/BandH.iml
